@media  (max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &-info
      &__offer
        margin-top: 0
      &__name
        margin: 0
    &-slider 
      width: 590px
      margin-left: 0
  .swiper 
    &-slide
      &__picture
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
@media  ( max-width: 992px )
  .container,  .newsletter-wrapper, 
    max-width: 700px
  .logo 
    width: 132px
    margin-top: -1px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    
    &-menu
      padding-top: 18px
      padding-bottom: 24px
      &__link
        font-size: 12px
        line-height: 15px
  .user
    &__name
      margin-top: 6px
    &__avatar
      margin-left: 24px
  .breadcrupb
    &-list
      padding-bottom: 30px
  .hotel
    padding-bottom: 58px
    &-info
      &__offer
        margin-top: 0
      &__rating
        margin-top: 6px
    &-grid
      flex-direction: column
    &-right 
      flex-direction: row
    &-slider
      width: 100%
    &__slider 
      margin-bottom: 30px
  .booking 
    padding: 28px 22px
    width: 340px
    &__call-center
      margin-bottom: 16px
  .search
    &__input
      padding-left: 23px
      width: 340px 
    &__button
      margin-right: 
  .newsletter
    padding: 92px 0 73px 0 
  .map 
    width: 340px
  .reviews
    margin-bottom: 27px
    &__title
      margin-bottom: 50px
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
    &-slider
      &__item
        max-width: 579px 
      &__button--prev
        margin-left: 0
        margin-top: 14px
      &__button--next
        margin-right: 0
        margin-top: 14px
  .activities
    padding-top: 23px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px

@media ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .swiper-container
    width: 100%
  .navbar
    &__search,
    &__user,
    &-menu
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel 
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name 
        margin-top: 10px
        margin-bottom: 0
      &__description

      &__rating
        display: none
      &__offer 
        order: -1
        margin: 0
  
  .hotel
    &-right
      flex-direction: column
      height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map 
    width: 100%   
  .newsletter 
    &-wrapper
      flex-direction: column
      align-items: start
      max-width: 576px
      width: 92%
  .reviews
    &-slider
      &__title
        font-size: 30px
        line-height: 38px
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 17px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    &__card--bottom
      margin-bottom: 20px
  .card
    width: 100%
    height: 255px
    &__title
      width: 154px
@media (max-width: 576px)
  
  .logo
    width: 99px
  
  .hotel
    padding-bottom: 40px
    &-slider 
      height: 250px
    &__slider
      margin-bottom: 20px
  .subscribe 
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
      &__title
        margin-bottom: 37px
        margin-top: 0
  .reviews 
    &__title
      margin-top: 0
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
  .activities
    &__card--bottom
      margin-bottom: 20px
  
    

@media (max-width: 480px) 
  .container, .newsletter-wrapper
    max-width: 320px
  
  .navbar-top 
    padding: 19px 0 30px 0
    &__menu-button
      margin-bottom: -7px
      margin-right: 7px
  .breadcrumb-list
    padding: 19px 0 9px 7px
  .stars 
    
    margin-right: 20px
    margin-bottom: 12px
  .logo
    margin-left: 7px
  .hotel 
    padding-top: 14px
    padding-left: 0
    padding-bottom: 3px
    &-grid
      align-items: center
    &-right
      height: 440px
    &-name
      margin-top: 0
      margin-left: -1
    &-info  
      &__offer
        margin-left: 1px
        margin-bottom: 9px
      &__description
        max-width: 250px
      &__text
        margin-bottom: 19px
        margin-left: 7px
    &-slider
      width: 279px
      height: 179px
      margin-right: 0
  .booking 
    width: 279px
    height: 210px 
    &__button
      width: 235px
      margin-left: 1px 
    &__call-center
      margin-bottom: 15px
  .map
    width: 279px
    height: 176px 
    margin-bottom: 34px
  .reviews 
    padding: 40px 0 70px 0
    margin-bottom: 0
    &__title
      width: 245px
      margin: auto
      margin-left: 29px
      margin-bottom: 42px
    &-slider
      &__button
        top: 16px
      &__button--next
        margin-right: -92px
      &__button--prev
        margin-left: -88px
      &-text
        min-width: 219px
        min-height: 266px
      &__item
        padding: 0 37px 35px
        width: 281px
        height: 438px
  .activities
    padding: 19px 0 40px 0
    &-title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 36px
      margin-left: 7px
    &-wrapper
      align-items: center
      flex-direction: column
    &__card--bottom
      margin-bottom: 28px
  .card
    width: 280px
    height: 255px
 
  .newsletter
    padding: 74px 0 63px 0
    &-title
      &__strong
        margin-top: 7px
    &-subscribe
      &__input
        padding-left: 20px
    &__subscribe
      margin-left: 7px
    &-title
      margin-bottom: 37px
      margin-left: 4px
  .subscribe
    max-width: 280px
    


